<launch>
    <!-- 打印时显示节点 -->
    <env name="ROSCONSOLE_FORMAT" value="[${node}]: ${message}"/>

    <!-- 使用仿真时间 -->
    <param name="use_sim_time" value="true"/>

    <arg name="default_mode" default="1" doc="Scenario: MultiTrajPlanning"/>

    <node name="scenario_selector" pkg="behaviour_state_machine" type="scenario_selector" output="screen">
        <param name="default_mode" type="int" value="$(arg default_mode)"/>
    </node>

</launch>