<launch>
    <arg name="show_debug_info" default="false"/>
    <arg name="ctrl_period" default="0.03"/>
    <arg name="enable_path_smoothing" default="true"/>
    <arg name="enable_yaw_recalculation" default="true"/>
    <arg name="path_filter_moving_ave_num" default="35"/>
    <arg name="path_smoothing_times" default="1"/>
    <arg name="curvature_smoothing_num" default="35"/>
    <arg name="traj_resample_dist" default="0.1"/>
    <arg name="admisible_position_error" default="5.0"/>
    <arg name="admisible_yaw_error_deg" default="90.0"/>
    <arg name="output_interface" default="all"/>

    <arg name="mpc_prediction_horizon" default="70"/>
    <arg name="mpc_prediction_sampling_time" default="0.1"/>
    <arg name="mpc_weight_lat_error" default="1.0"/>
    <arg name="mpc_weight_heading_error" default="0.0"/>
    <arg name="mpc_weight_heading_error_squared_vel_coeff" default="0.3"/>
    <arg name="mpc_weight_steering_input" default="1.0"/>
    <arg name="mpc_weight_steering_input_squared_vel_coeff" default="0.25"/>
    <arg name="mpc_weight_lat_jerk" default="0.0"/>
    <arg name="mpc_weight_terminal_lat_error" default="1.0"/>
    <arg name="mpc_weight_terminal_heading_error" default="0.1"/>
    <arg name="mpc_zero_ff_steer_deg" default="2.0"/>
    <arg name="delay_compensation_time" default="0.0"/>

    <arg name="steer_lim_deg" default="35.0"/>
    <arg name="vehicle_model_wheelbase" default="2.9"/>

    <arg name="vehicle_model_type" default="kinematics"/>
    <arg name="vehicle_model_steer_tau" default="0.1"/>

    <arg name="qp_solver_type" default="unconstraint_fast"/>
    <arg name="qpoases_max_iter" default="500"/>

    <arg name="steering_lpf_cutoff_hz" default="3.0"/>
    <arg name="error_deriv_lpf_curoff_hz" default="5.0"/>

    <arg name="out_twist_name" default="twist_raw"/>
    <arg name="out_vehicle_cmd_name" default="ctrl_raw"/>
    <arg name="in_waypoints_name" default="mpc_waypoints"/>
    <arg name="in_selfpose_name" default="gnss_pose"/>
    <arg name="in_vehicle_status_name" default="vehicle_status"/>

    <node pkg="mpc_follower" type="mpc_follower" name="mpc_follower" output="screen">
        <param name="show_debug_info" value="$(arg show_debug_info)"/>
        <param name="ctrl_period" value="$(arg ctrl_period)"/>
        <param name="enable_path_smoothing" value="$(arg enable_path_smoothing)"/>
        <param name="enable_yaw_recalculation" value="$(arg enable_yaw_recalculation)"/>
        <param name="path_filter_moving_ave_num" value="$(arg path_filter_moving_ave_num)"/>
        <param name="path_smoothing_times" value="$(arg path_smoothing_times)"/>
        <param name="curvature_smoothing_num" value="$(arg curvature_smoothing_num)"/>
        <param name="traj_resample_dist" value="$(arg traj_resample_dist)"/>
        <param name="admisible_position_error" value="$(arg admisible_position_error)"/>
        <param name="admisible_yaw_error_deg" value="$(arg admisible_yaw_error_deg)"/>
        <param name="output_interface" value="$(arg output_interface)"/>

        <param name="mpc_prediction_horizon" value="$(arg mpc_prediction_horizon)"/>
        <param name="mpc_prediction_sampling_time" value="$(arg mpc_prediction_sampling_time)"/>
        <param name="mpc_weight_lat_error" value="$(arg mpc_weight_lat_error)"/>
        <param name="mpc_weight_heading_error" value="$(arg mpc_weight_heading_error)"/>
        <param name="mpc_weight_heading_error_squared_vel_coeff" value="$(arg mpc_weight_heading_error_squared_vel_coeff)"/>
        <param name="mpc_weight_steering_input" value="$(arg mpc_weight_steering_input)"/>
        <param name="mpc_weight_steering_input_squared_vel_coeff" value="$(arg mpc_weight_steering_input_squared_vel_coeff)"/>
        <param name="mpc_weight_lat_jerk" value="$(arg mpc_weight_lat_jerk)"/>
        <param name="mpc_weight_terminal_lat_error" value="$(arg mpc_weight_terminal_lat_error)"/>
        <param name="mpc_weight_terminal_heading_error" value="$(arg mpc_weight_terminal_heading_error)"/>
        <param name="mpc_zero_ff_steer_deg" value="$(arg mpc_zero_ff_steer_deg)"/>
        <param name="delay_compensation_time" value="$(arg delay_compensation_time)"/>

        <param name="steer_lim_deg" value="$(arg steer_lim_deg)"/>
        <param name="vehicle_model_wheelbase" value="$(arg vehicle_model_wheelbase)"/>

        <param name="vehicle_model_type" value="$(arg vehicle_model_type)"/>
        <param name="vehicle_model_steer_tau" value="$(arg vehicle_model_steer_tau)"/>

        <param name="qp_solver_type" value="$(arg qp_solver_type)"/>
        <param name="qpoases_max_iter" value="$(arg qpoases_max_iter)"/>

        <param name="steering_lpf_cutoff_hz" value="$(arg steering_lpf_cutoff_hz)"/>
        <param name="error_deriv_lpf_curoff_hz" value="$(arg error_deriv_lpf_curoff_hz)"/>

        <param name="out_twist_name" value="$(arg out_twist_name)"/>
        <param name="out_vehicle_cmd_name" value="$(arg out_vehicle_cmd_name)"/>
        <param name="in_waypoints_name" value="$(arg in_waypoints_name)"/>
        <param name="in_selfpose_name" value="$(arg in_selfpose_name)"/>
        <param name="in_vehicle_status_name" value="$(arg in_vehicle_status_name)"/>
    </node>

</launch>